<div class="container">
    <br><h1 class="container">Ficha Antropométrica</h1><br>
    <table class="table table-dark">
        <thead>
            <th></th>
            <th>Datos Personales</th>
        </thead>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td><input type="text" size="40" value="Andrés Giovanny Giraldo Pacheco"></td>
                <td></td>
            </tr>
            <tr>
                <th>Fecha de Nacimiento</th>
                <td><input type="date" value="1993-04-18"></td>
            </tr>
            <tr>
               <td><strong>Estatura:</strong></td>
               <td><strong>Peso:</strong></td>
               <td><strong>Edad:</strong></td>
            </tr>
            <tr>
               <td><input size="8" value="1.75mts"></td>
               <td><input size="8" value="65kg"></td>
               <td><input size="8" value="29 años"></td>
            </tr>
            <tr>
                <td><strong>Grado:</strong></td>
                <td><strong>Tipo de Sangre:</strong></td>
                <td><strong>Tel:</strong></td>
             </tr>
             <tr>
                 <td><input size="8"></td>
                 <td><input size="8" value="O+"></td>
                 <td><input size="8" value="31546654"></td>
             </tr>
             <tr>
                <th></th>
                <th>Principales Medidas Corporales</th>
                <th></th>
             </tr>
             <tr>
                <th>Perimetro del Craneo</th>
                <th><input value="51cms"></th>
             </tr>
             <tr>
                <th rowspan="2">Perimetro Toraxico</th>
                <th>Normal &nbsp;<input value="31cm"></th>
             </tr>
             <tr>
                <th>Inspiracion &nbsp;<input value="33cm"></th>
             </tr>

             <tr>
                <th rowspan="2">Perimetro Biceps</th>
                <th>Derecho &nbsp;NOR:&nbsp;<input size="2" value="28cm">&nbsp;CONT:&nbsp;<input size="2"  value="29.5cm"></th>
                <th></th>
               
             </tr>
             <tr>
                <th>Izquierdo &nbsp;NOR:&nbsp;<input size="2" value="27.5cm" >&nbsp;CONT:&nbsp;<input size="2" value="29cm"></th>
                <th></th>
             </tr>
             <tr>
                <th>Diametro Biacromial</th>
                <th><input value="48cm"></th>
                <th></th>
             </tr>
             <tr>
                <th>Perimetro de Cintura</th>
                <th><input value="86cm"></th>
                <th></th>
             </tr>

             <tr>
                <th rowspan="2">Log. Ext. Superiores</th>
                <th>Derecha &nbsp;<input value="66.7cm"></th>
                <th></th>
             </tr>
             <tr>
                <th>Izquierda &nbsp;<input value="67cm"></th>
             </tr>

             <tr>
                <th rowspan="2">Perimetro del Muslo</th>
                <th>Derecha &nbsp;<input value="49.5cm"></th>
                <th></th>
             </tr>
             <tr>
                <th>Izquierda &nbsp;<input value="50cm"></th>
             </tr>
             <tr>
                <th rowspan="2">Perimetro Pantorrilla</th>
                <th>Derecha &nbsp;<input value="43cm"></th>
                <th></th>
             </tr>
             <tr>
                <th>Izquierda &nbsp;<input value ="44cm"></th>
             </tr>
             <tr>
                <th rowspan="2">Log. Ext. Inferiores</th>
                <th>Derecha &nbsp;<input value="1.05mts"></th>
                <th></th>
             </tr>
             <tr>
                <th>Izquierda &nbsp;<input value="1.05mts"></th>
             </tr>
             <tr>
                <th rowspan="2">Altura del Pie</th>
                <th>Derecha &nbsp;<input value="26cm"></th>
                <th></th>
             </tr>
             <tr>
                <th>Izquierda &nbsp;<input value="26.5cm"></th>
             </tr>
             
        </tbody>

    </table>

  
    <br><br><button [routerLink]="['/', 'cuarta-pagina'] ">Estrategias de Actividad Fisica</button><br>
  
</div>
