<div class="container">
    <br><h1 class="container">Estrategias Para Realizar Actividad Fisica, Deportivas y culturales</h1><br><br>

    <table>
        <thead>
            <th>Item</th>
            <th>Descripcion</th>
        </thead>
        <tbody>
            <tr>
                <td><strong>1. Elegir el horario más funcional</strong></td>
                <td>Primero preguntate cuál es tu mejor momento del día para ejercitar. ¿Es al mediodía, a la noche o bien temprano por la mañana? Busca el momento en que tiendes a ser mas activo</td>
            </tr>
            <tr>
                <td><strong>2. Busca un lugar que te quede cómodo</strong></td>
                <td>Cada vez más difícil trasladarnos y si no estás ciento por ciento motivado para ir a un lugar la mente te va jugar en contra. En el caso de que trabajes todo el día, elegí, por ejemplo, un lugar a la salida del oficina y siempre lleva tu ropa.</td>
            </tr>
            <tr>
                <td><strong>3. Elegir un Espacio</strong></td>
                <td>un espacio donde te sientas cómodo, que te resulte agradable y recargue tu energía. Los espacios a la intemperie pueden ser atractivos pero dependes del clima por lo que debes manejar alguna alternativa</td>
            </tr>
            <tr>
                <td><strong>4. Hacer algo nuevo</strong></td>
                <td> una estrategia es iniciar una actividad nueva, comprarte algún equipo nuevo para esa actividad, cambia de gimnasio o inscribirte en alguna nueva clase.</td>
            </tr>
            <tr>
                <td><strong>5. Ejecución</strong></td>
                <td> Una vez definida la estrategia, es importante ejecutarla con disciplina y determinación.</td>
            </tr>
        </tbody>

    </table><br><br>
    <h1>Técnicas de cultura física</h1>
    <br><h2>Pausas Activas</h2>
    <br><h3> Realiza 10 sencillos ejercicios durante tu rutina laboral y eleva tu calidad de vida: </h3>
    <table>
        <thead>
            <th>Item</th>
            <th>Descripcion</th>
        </thead>
        <tbody>
            <tr>
                <td><strong>1. </strong></td>
                <td>Empecemos por los ojos. Mira hacia el techo durante 6 segundos, devuelve la mirada al centro y haz lo mismo mirando al piso. </td>
            </tr>
            <tr>
                <td><strong>2. </strong></td>
                <td>Luego, flexiona tu cabeza como si intentaras que tu mentón alcanzara tu pecho. Permanece así por 10 segundos y luego gira tu cabeza hacia ambos lados suavemente.</td>
            </tr>
            <tr>
                <td><strong>3. </strong></td>
                <td>Vamos bien. Coloca tus manos sobre los hombros y haz movimientos como dibujando círculos grandes de forma lenta hacia adelanta y atrás. </td>
            </tr>
            <tr>
                <td><strong>4. </strong></td>
                <td>Relaja tus brazos a ambos costados de tu cuerpo y eleva tus hombros pretendiendo tocar tus orejas por 5 segundos. Descansa y repite el movimiento</td>
            </tr>
            <tr>
                <td><strong>5. </strong></td>
                <td>Flexiona tus codos y empuña tus manos para realizar círculos con tus muñecas pausadamente hacia afuera y hacia adentro. </td>
            </tr>
            <tr>
                <td><strong>6. </strong></td>
                <td>Ahora de pie y con tu espalda recta, lleva tu rodilla derecha hacia el pecho abrazándola con los dos brazos. Quédate en esta posición 10 segundos y repite con la izquierda.</td>
            </tr>
            <tr>
                <td><strong>7. </strong></td>
                <td>Coloca tus manos entrelazadas detrás de tu cabeza estirando los codos hacia atrás y sostén por 10 segundos. </td>
            </tr>
            <tr>
                <td><strong>8. </strong></td>
                <td>Realiza movimientos circulares con tus tobillos y hacia ambos lados del pie.</td>
            </tr>
            <tr>
                <td><strong>9. </strong></td>
                <td>Colócate de pie y dobla hacia atrás tu pierna izquierda tomando la punta del pie con tu mano izquierda en esa posición semiflexionada. Sostén y repite con tu otra pierna. </td>
            </tr>
            <tr>
                <td><strong>10. </strong></td>
                <td>Por último, en una posición erguida y con tus rodillas semiflexionadas, lleva tus manos a la cintura y empuja tu cadera hacia adelante. Luego de 5 segundos, vuelve al centro y haz lo mismo hacia atrás. </td>
            </tr>
        </tbody>
    </table><br>
    <button [routerLink]="['/', 'quinta-pagina'] ">Tecnicas de Valoracion</button><br><br>
  
</div>
