<div class="container">
  <h1 class="container">CARTILLA DE CULTURA FISICA</h1><br>
    <h2>Acondicionamiento Fisico:</h2><br>

    <h3>El acondicionamiento físico es una condición de salud y bienestar, más específicamente, su capacidad para realizar diferentes partes de las tareas diarias, trabajos y deportes. El acondicionamiento físico generalmente se logra mediante una actividad física regular de moderada a vigorosa, una nutrición adecuada y un descanso adecuado.</h3><br>
    <h3>Es un elemento importante para mantenerse en forma y saludable. Ya sea que esté interesado en seguir una rutina que haya elegido usted mismo o en adoptar un enfoque más holístico del acondicionamiento físico, hay algo que puede hacer para mejorar el acondicionamiento de su cuerpo. Considere hacer ejercicios intensos y enfóquese en usar pesas en lugar de máquinas. Como siempre, consulte a su médico antes de comenzar cualquier programa de acondicionamiento físico nuevo.</h3><br>

    <br><br>
    <button [routerLink]="['/', 'segunda-pagina'] ">Test Fisico</button><br><br>
</div>

<router-outlet></router-outlet>
