<div class="container">
    <br><h1 class="container">Métodos de Entrenamiento Fisico</h1><br><br>
        <h3>Existen diferentes métodos de entrenamiento, que bien combinados permitirán obtener el mejor resultado.</h3>

        <table>
            <thead>
                <th>Item</th>
                <th>Descripcion</th>
            </thead>
            <tbody>
                <tr>
                    <td><strong>1. Método Continuo</strong></td>
                    <td>Se basa en la ejecucion de una accion de forma repetida y mantenida durante un periondo prolongado de tiempo sin descansos</td>

                </tr>
                <tr>
                    <td><strong>2. Método de Entrenamiento total</strong></td>
                    <td>Se trata de un metodo de trabajo basado en los movimientos naturales y espontaneos del hombre en el medio natural</td>
                </tr>
                <tr>
                    <td><strong>3. Método Interválico</strong></td>
                    <td>Actividad que se realiza de forma fraccionada se convinan tiempos de ejercicio y descanso</td>
                </tr>
                <tr>
                    <td><strong>4. Método de Repeticiones</strong></td>
                    <td>Tambien es un entrenamiento fraccionado con intervalos de carrera y descanso, pero el deportista descansa completamente durante la pausa que, debe ser mas larga.</td>
                </tr>
            </tbody>
        </table>
  
    <br><button [routerLink]="['/', 'septima-pagina'] ">Ejercicio</button><br>
  
</div>