<div class="container">
    <br><h1 class="container">Tecnicas de Valoracion </h1><br>
        <table>
            <thead>
                <th>Item</th>
                <th>Descripcion</th>
            </thead>
            <tbody>
                <tr>
                    <td><strong>1. Tecnicas Patrón</strong></td>
                    <td>En general este tipo de tecnicas se usan a pequeña escala y se usan como punto de comparacion para validad tecnicas mas practicas y menos precisas.</td>
                </tr>
                <tr>
                    <td><strong>2. Tecnicas Objetivas </strong></td>
                    <td>Se miden la propiedades asociadas a los movimientos corporales (Cantidad de pasos, Frecuencia cardiaca, Cambios de posicion geografica.</td>
                </tr>
                <tr>
                    <td><strong>3. Tecnicas Subjetivas</strong> </td>
                    <td>Requieren de un nivel de procesamiento cognitivo o perceptivo, por ejemplo, las tecnicas de cuestionario y diario.</td>
                </tr>
            </tbody>

        </table><br>
  
    <button [routerLink]="['/', 'sexta-pagina'] ">Métodos de Entrenamiento</button><br>
</div>