<div class="container">
    <br><br><h1 class="container">Ejercicio</h1><br>
    <h4>El ejercicio físico es una actividad que se lleva a cabo en los momentos de tiempo libre, en el cual se incluye el baile, deporte, gimnasia, educación física, entre otros. <strong>El ejercicio físico es sinónimo de bienestar físico, mental y social de una persona.</strong></h4><br>
    <h4>El ejercicio influye de forma positiva en el desarrollo intelectual y emocional de niños y adolescentes, lo cual permite desarrollar la creatividad, tener un mejor control de los problemas, contribuye con poseer una adecuada autoestima, ayuda a socializar, entre otros, y es por ello que en todos los planteles educativos incentivan a la realización de ejercicios físicos a través de sus aulas de educación física, la cual consiste en una parte teórica y luego en la realización de los ejercicios.</h4>
<br>
<hr><br>
<h3>Beneficios Del Ejercicio Fisico</h3><br>
    <ol>
        <li>Mejora las funcionesa de las articulaciones</li>
        <li>Aumenta la energía</li>
        <li>Ayuda a combatir la ansiedad, depresión y estrés mental</li>
        <li>Aumenta la capacidad de tolerancia respecto a altas temperaturas y dolor.
        </li>
        <li>Proporciona diversión.</li>
        <li>Quema calorías.</li>
        <li>Mejora la capacidad de conciliar el sueño</li>
        <li>Proporciona una vida más larga y con mayor calidad.</li>
        <li>Previene enfermedades.</li>
        <li>Disminuye la posibilidad de sufrir infarto.</li>
        <li>Tonifica los músculos.</li>
        <li>Incrementa la fuerza física.</li>
        <li>Mejora el humor.</li>
        <li>Ayuda dejar el consumo de alcohol o drogas.</li>

    </ol>

    <button [routerLink]="['/', 'segunda-pagina'] ">Volver al Test Fisico</button>
  
</div>
